@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header, 
.intro, 
.footer,
.project-gallery,
.feedback-container,
.contact-container {
    padding: 0 200px;
}

.header, 
.footer,
.intro {
    background-color: #1F2937;
    display: flex;
}

.header h1{
    color: #F9FAF8;
    font-size: 24px;
    flex-grow: 1;
}

.header a,
.footer,
.intro-text p {
    color: #E5E7EB;
    font-size: 18px;
}

.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    justify-content: space-between;
    align-items: center;
    padding: 12px 200px;
}

.footer a{
    color: aquamarine;
}

.intro {
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 48px 200px;;
}

.intro-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro-text h1, 
.intro-text p {
    margin: 0;
}

.intro-text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12px;
}

.intro-img, img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    padding: 6px 12px;
    max-width: 124px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 8px;
    font-size: 18px;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-gallery-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: space-evenly;
    gap: 48px;
    flex-wrap: wrap;
}

.project img {
    width: 320px;
    height: 240px;
    border-radius: 16px;
    border: 5px solid #3882F6;
}

.project .text{
    text-align: center;
}

.project {
    max-width: 300px;
    flex-basis: 240px;
}

h2 {
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
}